/* SCO R symposium presentation style-sheet */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Code+Pro:400,700');

/* Declare main colours */
:root {
  --colour1: #0B3C73; /* headers */
  --colour2: #96D7ED; /* blockquote background */
  --head1: #446e9b;  /* heading bar behind header text */
  --h1: #ffffff;
  --h1-alt: #000000;

  --large: 200%;
  --regular: 100%;
  --med: 80%;
  --small: 65%; /* how small is small? */
  --extra-small: 55%;

  --size: 25px;
  --code-size: 24px;

  --h1-factor: 200%;
  --h2-factor: 140%;


  --t1: 275%;
  --t1pad: 50px;
  --t2: 100%;
  --t2mar: 15px;
  --t3: 150%;
  --t3mar: 100px;

  --rblue: #246ABF;
  --here: #246ABF;

  --twitter: "";

  --logo: none;
  --logo-size: none;
  --logo-pos: none;

  --page-numbers: block; /* none */
}

.title-slide h3 {
  font-size: 500% !important;
}

.title-slide h2 {
  font-style: normal !important;
}

.white {
  color: white;
  font-weight: bold;
}

.hl {
  background-color: yellow;
}

.rblue {
  color: var(--rblue);
  font-weight: bold;
}

.remark-inline-code {
  font-weight: bold;
  color: var(--colour1);
}

.remark-inline-code.remark-code {
  font-weight: normal;
}

h1 .remark-inline-code {
  color: var(--h1);
}

.question {
  background-color: #ffff7f;
}

